.trips-tab-active[data-state="active"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  /* final height */
  background-color: black;
  animation: underline-grow 0.2s ease forwards;
}

@keyframes underline-grow {
  from {
    height: 0;
  }

  to {
    height: 2px;
  }
}